<section style="min-height: 800px">
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}} </h1>
  </div>
  <!--picture upload-->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group text-center">
            <img ng-src="{{vm.product.images}}" alt="{{vm.product.name}}" class="img-rounded img-product-detail">
          </div>
          <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-success btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>Profile Picture Changed Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
            <fieldset>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="name">Name</label>
                    <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Name" required>
                    <div ng-messages="vm.form.productForm.name.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product name is required.</p>
                    </div>
                  </div>
                  <div class="form-group margin-bottom-30" show-errors>
                    <label class="control-label" for="category">Category</label>
                    <input name="category" type="text" ng-model="vm.product.category" id="category" class="form-control" placeholder="Category"
                      required>
                    <div ng-messages="vm.form.productForm.category.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product category is required.</p>
                    </div>
                  </div>
                  <!--<div class="form-group">
                      <label class="control-label" for="description">Description</label>
                      <input name="description" type="text" ng-model="vm.product.description" id="description" class="form-control" placeholder="description">
                    </div>-->
                  <div class="form-group ">
                    <label class="control-label" for="name">Description</label>
                    <textarea class="card-text word-break txt-area form-control" ng-model="vm.product.description" id="description" class="form-control"
                      placeholder="Description">
                         <li>{{vm.product.description}}</i>
                    </textarea>
                  </div>

                  <div class="form-group" show-errors>
                    <label class="control-label" for="price">Price</label>
                    <input name="price" type="text" ng-model="vm.product.price" id="price" class="form-control" placeholder="Price" ng-pattern="/^[0-9]{1,7}$/"
                      required>
                    <div ng-messages="vm.form.productForm.price.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product price is required.</p>
                      <p class="help-block error-text" ng-message="pattern">Product price is number.</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="retailerprice">Retailer Price</label>
                    <input name="retailerprice" type="text" ng-model="vm.product.retailerprice" id="retailerprice" class="form-control" placeholder="Retailer Price" ng-pattern="/^[0-9]{1,7}$/"
                      >
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="category">Gross Weight</label>
                    <input name="grossweight" type="text" ng-model="vm.product.grossweight" id="grossweight" class="form-control" placeholder="Gross Weight">
                    <!--<div ng-messages="vm.form.productForm.grossweight.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product grossweight is required.</p>
                    </div>-->
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="category">Max Stock</label>
                    <input name="maxstock" type="number" ng-model="vm.product.maxstock" id="maxstock" class="form-control" placeholder="Max Stock">
                    <!--<div ng-messages="vm.form.productForm.maxstock.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product maxstock is required.</p>
                    </div>-->
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="category">Min Stock</label>
                    <input name="minstock" type="number" ng-model="vm.product.minstock" id="minstock" class="form-control" placeholder="Min Stock">
                    <!--<div ng-messages="vm.form.productForm.minstock.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product minstock is required.</p>
                    </div>-->
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="category">Deliveryratetype</label>
                    <input name="deliveryratetype" type="number" ng-model="vm.product.deliveryratetype" id="deliveryratetype" class="form-control"
                      placeholder="Deliveryratetype">
                    <!--<div ng-messages="vm.form.productForm.deliveryratetype.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product deliveryratetype is required.</p>
                    </div>-->
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="category">Value Type</label>
                    <input name="valuetype1" type="number" ng-model="vm.product.valuetype1" id="valuetype1" class="form-control" placeholder="Value Type">
                    <!--<div ng-messages="vm.form.productForm.valuetype1.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Product valuetype1 is required.</p>
                    </div>-->
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <b><p>Rang Type</p></b>
                    </div>
                  </div>
                  <div class="row alert alert-success hidden-xs">
                    <div class="col-xs-3 col-sm-3 col-md-3"><b>Min</b></div>
                    <div class="col-xs-3 col-sm-3 col-md-3"><b>Max</b></div>
                    <div class="col-xs-3 col-sm-3 col-md-3"><b>Value</b></div>
                    <div class="col-xs-3 col-sm-3 col-md-3"></div>
                  </div>
                  <div class="row border-right border-left border-top border-bottom img-rounded margin-top-20" ng-repeat="rang in vm.product.rangtype2">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                      <input name="min" type="number" ng-model="rang.min" id="min" class="form-control" placeholder="Min">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                      <input name="max" type="number" ng-model="rang.max" id="max" class="form-control" placeholder="Max">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                      <input name="value" type="number" ng-model="rang.value" id="value" class="form-control" placeholder="Value">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-right" ng-click="vm.removeRangType($index)">
                      <i class="glyphicon glyphicon-trash btn btn-danger"></i>
                    </div>
                  </div>
                  <div class="min-height-20"></div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="btn btn-success btn-block btn-outline" ng-click="vm.addRangType()">
                        <b>เพิ่ม</b>
                      </div>
                    </div>

                  </div>
                  <div class="min-height-20"></div>
                  <!--<div class="form-group" show-errors>
                    <label class="control-label" for="category">Min</label>
                    <input name="min" type="number" ng-model="min" id="min" class="form-control" placeholder="Min" required>
                    <div ng-messages="vm.form.productForm.min.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Min is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="control-label" for="category">Max</label>
                    <input name="max" type="number" ng-model="max" id="max" class="form-control" placeholder="Max" required>
                    <div ng-messages="vm.form.productForm.max.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Max is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label class="control-label" for="category">Value</label>
                    <input name="value" type="number" ng-model="value" id="value" class="form-control" placeholder="Value" required>
                    <div ng-messages="vm.form.productForm.value.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Value is required.</p>
                    </div>
                  </div>-->

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">{{vm.product._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
                  </div>

                </div>
            </fieldset>
          </form>
          </div>
        </div>
      </div>
    </div>




  </div>
</section>