<!--<div class="pull-right" ng-hide="!vm.authentication.user">
  <a class="btn btn-primary" ui-sref="products.create">
    <span>New</span>
  </a>
</div>-->
<section>
  <div class="page-header prd-header-wrapper">

    <h1 ng-bind="vm.product.name"></h1>
  </div>
  <div class="pull-right" ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">

    <div class="col-sm-4 text-center">
      <img ng-src="{{vm.product.images}}" alt="{{vm.product.name}}" class="img-rounded img-product-detail">
    </div>
    <div class="col-sm-4">

      <div class=" border-bottom">
        <p class="card-text front_price2">
          <li> {{vm.product.description}}</i>
        </p>
      </div>
      <h4 class="card-title  front_price">{{vm.product.price}} บาท <label class="front_price1"> * หมายเหตุ: ราคาสินค้ายังไม่รวมค่าจัดส่ง</label></h4>

      <button type="button" class="btn btn-warning hidden-xs show-sm show-md show-lg" ng-click="vm.cart.add(vm.product)" data-toggle="modal"
        data-target="#squarespaceModal">ใส่ตะกร้า</button>


      <button type="button" class="btn btn-warning show-xs hidden-sm hidden-md hidden-lg" ng-click="vm.cart.add(vm.product)" data-toggle="modal"
        data-target="#squarespaceModal1">ใส่ตะกร้า</button>


      <button type="button" class="btn btn-primary " ng-click="vm.buynow(vm.product)">สั่งซื้อทันที</button>
      <div class="min-height-50">

      </div>
      <div class="row" ng-repeat="promotion in vm.product.promotions">
        <div class="col-xs-12">
          <p>Promotion : {{promotion.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="front_price1"> * สินค้านี้จัดส่งในพื้นที่เขตกรุงเทพมหานครและปริมณฑล</label>
        </div>
      </div>
    </div>
  </div>
  <div class="min-height-50">

  </div>
  <!--asasas-->

  <!--<div class="row border-top" ng-init="vm.readProduct()">
    <div class="margin-top-20 margin-bottom-20">
      <h3>สินค้าที่เกี่ยวข้อง</h3>
    </div>
    <div class="modal-scroll">
      <div class="margin-left-cart" ng-repeat="product in vm.products" ng-if="vm.product.category===product.category && vm.product._id != product._id ">
        <div class="demo-card" ui-sref="products.view({ productId: product._id })">
          <div class="card ">
            <div class="text-center ">
              <img ng-src="{{product.images}}" alt="{{product.name}}" class=" img-rounded user-profile-picture img-responsive ">
            </div>
            <div class="card-block text-center">
              <h4 class="card-title word-break">{{product.name}}</h4>
              <p class="card-text word-break">{{product.description}}</p>
              <h4 class="card-title text-warning ">{{product.price}} บาท</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <p class="lead" ng-bind="vm.product.content"></p>
  <!--test-->
  <!--show web-->
  <div class="page-header hidden-xs show-sm show-md show-lg">
    <div class="modal fade " id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times-circle-o font-close-modal"></i></span><span class="sr-only">Close</span></button>
            <h3><span><i class="fa fa-check modal-title  font-price-modal-head " id="lineModalLabel"> สินค้า <span class="font-name-top-modal">{{vm.product.name}}</span>              ใส่ตะกร้าเรียบร้อยแล้ว</i>
              </span>
            </h3>
          </div>
          <div class="modal-body">
            <!-- content here -->
            <div class="row margin-bottom-20">
              <div class="col-sm-3 col-md-3 text-center border-right">
                <img ng-src="{{vm.product.images}}" alt="{{vm.product.name}}" class="img-rounded user-profile-picture">
              </div>
              <div class="col-sm-4 col-md-4">
                <h4 class="card-title font-price-modal slide-right">ราคา {{vm.product.price}} บาท</h4>
                <h2 class="pum-text-center">
                  <a ng-click="vm.cart.add(vm.product);">
                    <span class="fa fa-plus-circle text-info slide-right" aria-hidden="true"></span>
                    <!--<span class="fa fa-plus slide-right" aria-hidden="true"></span>-->
                  </a>
                  {{vm.cart.getTotalItemsCount(vm.product._id)}}
                  <a ng-click="vm.cart.remove(vm.product);">
                    <span class="fa fa-minus-circle text-danger" aria-hidden="true"></span>
                    <!--<span class="fa fa-minus" aria-hidden="true"></span>-->
                  </a>
                </h2>
              </div>
              <!--right-->
              <div class="col-sm-5 col-md-5 border-left">
                <div class="row ">
                  <div class="col-md-12 font-price-modal-head">
                    <h3>ตะกร้าสินค้าของคุณ</h3>
                    <h3>(<span class="font-name-top-modal">{{vm.cart.getTotalCount()}}</span> ชิ้น)</h3>
                  </div>
                </div>
                <div class="row border-bottom">
                  <div class="col-md-6">
                    <p>มูลค่าสินค้า:</p>
                  </div>
                  <div class="col-md-6">
                    <p>{{vm.cart.getTotalPrice()}} บาท</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-6">
                    <h3>ยอดสุทธิ </h3>
                    <h6>(รวมภาษี)</h6>
                  </div>
                  <div class="col-md-6">
                    <h4>{{vm.cart.getTotalPrice()}} บาท</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-bottom-20">
              <div class="col-sm-12 text-right ">
                <button class="btn btn-primary " href="/products" data-dismiss="modal" ng-click="vm.moreCart(product);" type="submit">เลือกซื้อสินค้าต่อ</button>
                <button class="btn btn-warning" href="/cartview" data-dismiss="modal" ng-click="vm.viewCart();" type="submit">ยืนยันการสั่งซื้อ</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-right">
                <label class="front_price1"> * สินค้านี้จัดส่งในพื้นที่เขตกรุงเทพมหานครและปริมณฑล</label>
              </div>
            </div>
            <!--footer category-->
            <!--<div class="row border-top" ng-init="vm.readProduct()">
              <div class="margin-top-20 margin-bottom-20 ">
                <h3>สินค้าที่เกี่ยวข้อง</h3>
              </div>
              <div class="modal-scroll ">
                <div ng-repeat="product in vm.products" ng-if="vm.product.category===product.category && vm.product._id != product._id ">
                  <div class="demo-card margin-left-cart" data-dismiss="modal" ng-click="vm.moreCart(product)">
                    <div class="card ">
                      <div class="text-center ">
                        <img ng-src="{{product.images}}" alt="{{product.name}}" class="img-rounded user-profile-picture ">
                      </div>
                      <div class="card-block text-center">
                        <h4 class="card-title word-break">{{product.name}}</h4>
                        <p class="card-text word-break">{{product.description}}</p>
                        <h4 class="card-title text-warning ">{{product.price}} บาท</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>

        <!--footer category-->
        <!-- content here -->

      </div>
    </div>
  </div>
  <!--show mobile-->
  <div class="page-header show-xs hidden-sm hidden-md hidden-lg">
    <div class="modal fade " id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times-circle-o font-close-modal"></i></span><span class="sr-only">Close</span></button>
            <h3><span><i class="fa fa-check modal-title  font-price-modal-head " id="lineModalLabel"> สินค้า <span class="font-name-top-modal">{{vm.product.name}}</span>              ใส่ตะกร้าเรียบร้อยแล้ว</i>
              </span>
            </h3>
          </div>
          <div class="modal-body">
            <!-- content here -->
            <div class="row margin-bottom-20">
              <div class="col-xs-12  text-center ">
                <img ng-src="{{vm.product.images}}" alt="{{vm.product.name}}" class="img-rounded user-profile-picture">
              </div>
              <div class="col-xs-12 ">
                <div class="font-price-modal-head">
                  <h3>ตะกร้าสินค้าของคุณ(<span class="font-name-top-modal">{{vm.cart.getTotalCount()}}</span> ชิ้น)</h3>
                </div>
                <h4 class="card-title font-price-modal ">ราคา {{vm.product.price}} บาท</h4>
                <h2 class="pum-text-center">
                  <a ng-click="vm.cart.add(vm.product);">
                    <span class="fa fa-plus-circle text-info slide-right" aria-hidden="true"></span>
                    <!--<span class="fa fa-plus slide-right" aria-hidden="true"></span>-->
                  </a>
                  {{vm.cart.getTotalItemsCount(vm.product._id)}}
                  <a ng-click="vm.cart.remove(vm.product);">
                    <span class="fa fa-minus-circle text-danger" aria-hidden="true"></span>
                    <!--<span class="fa fa-minus" aria-hidden="true"></span>-->
                  </a>
                </h2>

              </div>
              <br>
              <!--right-->

              <div class="row ">
                <div class="col-xs-12 font-price-modal-head">

                </div>
              </div>
              <div class="text-right">
                <div class="row border-bottom">
                  <div class="col-xs-6">
                    <p>มูลค่าสินค้า:</p>
                  </div>
                  <div class="col-xs-6">
                    <p>{{vm.cart.getTotalPrice()}} บาท</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-xs-6">
                    <h3>ยอดสุทธิ </h3>
                    <h6>(รวมภาษีมูลค่าเพิ่ม)</h6>
                  </div>
                  <div class="col-xs-6">
                    <h4>{{vm.cart.getTotalPrice()}} บาท</h4>
                  </div>
                </div>
              </div>

            </div>
            <div class="row margin-bottom-20">
              <div class="col-xs-12 text-center ">
                <button class="btn btn-primary " href="/products" data-dismiss="modal" ng-click="vm.moreCart(product);" type="submit">เลือกซื้อสินค้าต่อ</button>
                <button class="btn btn-warning" href="/cartview" data-dismiss="modal" ng-click="vm.viewCart();" type="submit">ยืนยันการสั่งซื้อ</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="front_price1"> * สินค้านี้จัดส่งในพื้นที่เขตกรุงเทพมหานครและปริมณฑล</label>
              </div>
            </div>
            <!--footer category-->
            <div class="row border-top" ng-init="vm.readProduct()">
              <!--<div class="margin-top-20 margin-bottom-20 ">
                <h3>สินค้าที่เกี่ยวข้อง</h3>
              </div>-->
              <div class="modal-scroll ">
                <div ng-repeat="product in vm.products" ng-if="vm.product.category===product.category && vm.product._id != product._id ">
                  <div class="demo-card margin-left-cart" data-dismiss="modal" ng-click="vm.moreCart(product)">
                    <div class="card ">
                      <div class="text-center ">
                        <img ng-src="{{product.images}}" alt="{{product.name}}" class="img-rounded user-profile-picture ">
                      </div>
                      <div class="card-block text-center">
                        <h4 class="card-title word-break">{{product.name}}</h4>
                        <p class="card-text word-break">{{product.description}}</p>
                        <h4 class="card-title text-warning ">{{product.price}} บาท</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--footer category-->
        <!-- content here -->
      </div>
    </div>
  </div>
  </div>
  <!--test-->
</section>