<section>
  <div class="page-header">
    <h1>User <span ng-bind="user.username"></span></h1>
  </div>

  <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name">


        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name">


        </div>
        <div class="form-group">
          <label for="postcode">Post Code</label>
          <input type="text" id="postcode" name="postcode" class="form-control" autocomplete="false" typeahead="postcode" ng-model="user.address.postcode"
            typeahead-callback="callback" ng-change="checkAutocomplete(user.address.postcode)" placeholder="Post Code">
        </div>
        <div class="form-group">
          <label for="subdistrict">Sub District</label>
          <input type="text" id="subdistrict" name="subdistrict" class="form-control" ng-model="user.address.subdistrict" placeholder="Sub District">


        </div>
        <div class="form-group">
          <label for="district">District</label>
          <input type="text" id="district" name="district" class="form-control" ng-model="user.address.district" placeholder="District">


        </div>
        <div class="form-group">
          <label for="province">Province</label>
          <input type="text" id="province" name="province" class="form-control" ng-model="user.address.province" placeholder="Province">


        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" class="form-control" ng-model="user.address.address" placeholder="Address">


        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase>


        </div>
        <div class="form-group">
          <label for="tel">Tel</label>
          <input type="text" id="tel" name="tel" class="form-control" ng-model="user.address.tel" placeholder="Tel">


        </div>
        <!--<div class="form-group" ng-show="userForm.password.$error.">
                  <label>Password Requirements</label>
                  <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                </div>-->
        <!--<div class="form-group">
          <input type="radio" ng-model="role" ng-checked="true" value="user">User
          <input type="radio" ng-model="role" value="deliver">Deliver
          <input type="radio" ng-model="role" value="transporter">Transporter
        </div>-->
        <div class="min-height-20"></div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </div>
    </div>
  </form>

</section>